/*Styles the box with my name Title*/
.name {
  text-align: center;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'WindSong', cursive;
  font-size: 48px;
  color: #111;
  width: auto;
  background-color: rgba(255, 255, 255, 0.267);
}

.paragraph {
  background-color: rgba(255, 255, 255, 0.60);
  padding: 20px;
  margin-top: 0%;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-right: 20%;
}

.aboutMe {
  background-color: rgba(255, 255, 255, 0.60);
  padding: 20px;
  margin-top: 0%;
}

/*Sets background photo*/
.flowers {
  background-image: url(../Assets/bee.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position-y: center;
}

/*Adds border and style to images with this class*/
.photo {
  margin: 10px;
  border: 10px;
  border-color: rgba(0, 0, 0, 0.774);
  border-style: double;
  padding: 10px;
  text-align: center;
}

/*Creates the box size and styles the header*/
header {
  height: 100%;
  background-color: transparent;
  border-bottom-color: blueviolet;
  border-width: 10px;
}

/* unvisited link */
a:link {
  color: rgb(0, 0, 0);
}

/* visited link */
a:visited {
  color: rgb(0, 0, 0);
}

/* mouse over link */
a:hover {
  color: rgb(0, 0, 0);
}

/* selected link */
a:active {
  color: rgb(0, 0, 0);
}

/* Makes rows for the web skeleton*/
.column3 { 
  display: flex;
  flex-wrap: wrap;
}

/*Creates a box*/
.red {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

/*Creates a transparent box*/
.gray {
  background: dark darkslategray;
  text-align: center;
}

/*Creates a blue-background box*/
.content {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: 'Playfair Display', serif;
  background-color: rgba(255, 255, 255, 0.267);
}

/*Creates three even columns*/
.column3 div {
  font-size: 16px;
  padding: 10px;
  
  flex: 1;
  align-items: center;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #00ff62, #ff00bf, #00ff62, #ff00bf, #00ff62, #ff00bf, #00ff62);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 800%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}
.glow-on-hover:active {
  color: rgb(0, 0, 0)
}
.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';


.center {
  text-align: center;
}

/* Makes rows for the web skeleton*/
.container { 
  display: flex;
  flex-wrap: wrap;
}

.button {
  background-color: rgba(255, 255, 255, 0.1);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  text-align: center;
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
  border-style: dashed;
  border-color: rgb(155, 255, 250);
  border-width: 2px;
}